.whytoattend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 40px;
}

.whyto-container-individual {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.whytoattend-individual-container {
    width: 400px;
    height: 170px;
    border-radius: 15px;
    background-color: rgb(224, 232, 232);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.whytoattend-headtext {
    font-size: 30px
}

.whytoattend-individual-container-headtext {
    font-size: 20px;
}

.whytoattend-individual-container-paratext {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.whytoattend-endpara-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(10, 18, 26);
    border-radius: 2px;
    font-weight: 300;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 10px;
}

.whytoattend-endpara1 {
    font-size: 18px;
}

.whytoattend-endpara2 {
    font-size: 17px;
    color: yellow;
}
.organizedby-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-top: 30px;
    background-color: rgb(23, 32, 42);
    
}
.organizedby-headtext{
    font-size: 30px;
    color: white;
}
.organizedby-imgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}
.organizer-individual-imgcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.organizer-img{
    width: 250px;
    border-radius: 10px;
}
.organizer-nametext{
    color: white;
    letter-spacing: 0.5px;
}

@media(min-width:850px) and (max-width:1285.99px) {
    .whytoattend-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 40px 0px;
    }

    .whyto-container-individual {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .whytoattend-individual-container:nth-child(3){
        transform: translate(200px, -50px);
    }
    .whytoattend-endpara-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 0;
        gap: 10px;
        width: 90%;
    }
    .whytoattend-endpara1 {
        font-size: 17px;
        text-align: center;
    }
    
    .whytoattend-endpara2 {
        font-size: 16px;
        text-align: center;
    }
    .organizer-img{
        width: 200px;
        border-radius: 10px;
    }
}
@media(min-width:500px) and (max-width:849.99px) {
    .whytoattend-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 40px 0px;
    }

    .whyto-container-individual {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .whytoattend-individual-container {
        width: 90%;
        height: 170px;
        margin-top: 20px;
        padding: 20px 10px;
    }
    .whytoattend-endpara-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 20px;
        gap: 10px;
        width: 90%;
    }
    .whytoattend-endpara1 {
        font-size: 17px;
        text-align: center;
    }
    
    .whytoattend-endpara2 {
        font-size: 16px;
        text-align: center;
    }
    .organizedby-imgcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
    }
    .organizer-img{
        width: 250px;
        border-radius: 10px;
    }
}
@media(min-width:350px) and (max-width:499.99px) {
    .whytoattend-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 40px 0px;
    }

    .whyto-container-individual {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .whytoattend-individual-container {
        width: 90%;
        height: 170px;
        margin-top: 20px;
        padding: 20px 10px;
    }
    .whytoattend-endpara-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 20px;
        gap: 10px;
        width: 90%;
    }
    .whytoattend-endpara1 {
        font-size: 15px;
        text-align: center;
    }
    
    .whytoattend-endpara2 {
        font-size: 14px;
        text-align: center;
        color: yellow;
    }
    .whytoattend-headtext {
        font-size: 22px
    }
    .organizedby-headtext{
        font-size: 25px;
        color: white;
    }
    .organizedby-imgcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 25px;
    }
    .organizer-img{
        height: 300px;
        width: auto;
        border-radius: 10px;
    }
}
@media(max-width:349.99px) {
    .whytoattend-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 40px 0px;
    }

    .whyto-container-individual {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .whytoattend-individual-container {
        width: 90%;
        height: 170px;
        margin-top: 20px;
        padding: 20px 10px;
    }
    .whytoattend-endpara-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 20px;
        gap: 10px;
        width: 90%;
    }
    .whytoattend-endpara1 {
        font-size: 14px;
        text-align: center;
    }
    
    .whytoattend-endpara2 {
        font-size: 13px;
        text-align: center;
    }
    .whytoattend-headtext {
        font-size: 22px
    }
    .organizedby-headtext{
        font-size: 25px;
        color: white;
    }
    .organizedby-imgcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 25px;
    }
    .organizer-img{
        height: 300px;
        width: auto;
        border-radius: 10px;
    }
}